.clients  {
  background-color: $primary-white-color;

&__list {
  display: flex;
}
&__item {
  width: calc((100% - 30px * 5) / 6);
}
&__item:not(:last-child) {
  margin-right: 30px;
}
&__icon {
  fill: $bkg-icon;
  transition: fill 1s;
}
&__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $bkg-icon;
  border-radius: 4px;
}
&__link:hover &__icon {
  fill: $accent-color;
}
&__link:hover {
  border: 1px solid $accent-color;
}
}