.logo__top,
.logo__footer {
font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $accent-color;
}

.logo__top {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

&--color {
  color: $primary-text-color;
}
}

.logo__footer--color {
  color: $primary-white-color;
}
